{% extends 'base.html' %}

{% block head %}
<title>Word Cloud </title>
<style>
h3,h4,h5, .actions{
    display: inline;
    padding-right: 30px;
    }
    body {
        background-image: url('static/assets/background.png');
      }
      #picture {
        height: 500px;
        position: relative;
        margin: 0 auto;
      }
</style>
{% endblock %}

{% block body %}   
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>

        <img id="picture" src="data:image/jpeg;base64,{{ img_data }}">
    </div>

{% endblock %}